{% extends '@Einscription/Public/layout.html.twig' %}
{% block layout %}
        <section class="container" style="margin-left: 400px">
    <form>
    <div class="col-sm-4">
    <div class="form-group">
     <h2>ADMINISTRATION</h2>
    <label>IDENTIFIANT</label>
      <input type="text" class="form-control">
      </div>
      </div>
      <div class="col-sm-4">
    <div class="form-group">
     <label>MOT DE PASSE</label>
      <input type="password" class="form-control">
      <br>
       <button type="submit" class="btn btn-primary">CONNEXION</button>
       </div>
      </div>
    </form>
  </div>
</div>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
