{% extends '@Einscription/Public/index.html.twig' %}
{% block body %}
    <div class="container">
    <p class="btn-lg btn-primary" style="text-align: center">PROCESSUS D'INSCRIPTION</p>
        <div>
            <a href="{{ path('einscription_inscription_information') }}" class="btn btn-outline-primary">COMMENCER INSCRIPTION</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
