{% extends '@Einscription/Public/index.html.twig' %}
 {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ita-online/assets/css/custom.css') }}" />{% endblock %}
{% block body %}
    <div class="container">
        <footer class="py-4 fixed-bottom">
    <div class="container">
        <form action="" method="post">
                    <button type="submit" name="payer" class="btn btn-outline">IMPRIMER FICHE</button>
                    </form>
    </div>
</footer>
         
    </div>
{% endblock %}
