{% extends '@Einscription/Public/index.html.twig' %}
{% block body %}
    <div class="container">
        <p class="btn-lg btn-primary" style="text-align: center">INFORMATIONS</p>
        <div>
            <a href="{{ path('einscription_reinscription_reverification') }}"><button class="btn btn-primary">ENREGISTRER</button></a>
            <button class="btn btn-outline-dark">RENITIALISER</button>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
