{% extends '@Einscription/Public/index.html.twig' %}
{% block body %}
    <div class="container">
        <p class="btn-lg btn-primary" style="text-align: center">PAYEMENT</p>
        <div class="container">
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="code">ENTRER VOTRE CODE DE PAYEMENT</label>
                    <form action="" method="post">
                        <input type="text" name="code" id="code" class="form-control">
                        <br>
                        <button type="submit" name="payer" class="btn btn-outline-primary">PAYER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
