{% extends '@Einscription/Public/index.html.twig' %}
{% block body %}
    <div class="container">
        <p class="btn-lg btn-primary" style="text-align: center">VERIFICATION DES INFORMATIONS</p>
        <div>
            <a href="{{ path('einscription_reinscription_repayement') }}" class="btn btn-primary">CONFIRMER</a>
            <button class="btn btn-outline-dark">MODIFIER</button>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
